

<div class="form__parent__container">

   <div class="form__title">
      <h2>Add new book to inventory</h2>
   </div>

   <div class="form__wrapper">
      <form action="/books/createBook" method="POST">
      
         <div class="inputs__wrapper">
            <input class="" type="text" name="title" placeholder="Title">
            <input type="text" name="author" placeholder="Author">
            <input type="text" name="genre" placeholder="Genre">

            <div class="small__input__group-flex-row">
               <input type="text" name="pages" placeholder="# of Pages">
               <input type="number" step="0.01" name="price" placeholder="Price">
               <input type="text" name="inventory" placeholder="Inventory">
            </div>
            
         </div>

         <button class="submit-btn" type="submit">Submit</button>
         
      </form>
   </div>
</div>
