<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{appTitle}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/customers-purchases-pages.css" />
        <link rel="stylesheet" href="/stylesheets/login-signup-forms.css" />
        <link rel="stylesheet" href="/stylesheets/bookAndMovie.css">
    </head>

    <body>
        <header>
            <div class="container">
                <nav class="nav">
                    <div class="nav_items">
                      {{!-- <img src="/images/logo.png" alt="logo"> --}}
                      <a class="nav_link" href="/">Shopbox</a>
                      {{#unless currentUser}}
                        <a class="nav_link" href="#">Products</a>
                        <a class="nav_link" href="#">Business Types</a>
                        <a class="nav_link" href="#">Why Shopbox?</a>
                        <a class="nav_link" href="#">Pricing</a>
                        <a class="nav_link" href="#">Resources</a>
                      {{/unless}}
                      {{#if currentUser}}
                        <a class="nav_link" href="/customers">Customers</a>
                        <a class="nav_link" href="/books">Books</a>
                        <a class="nav_link" href="/movies">Movies</a>
                        <a class="nav_link" href="/purchases">Purchases</a>
                      {{/if}}
                      {{#unless currentUser}}
                        <a class="nav_link" href="/auth/signup">Sign up</a>
                        <a class="nav_link" href="/auth/login">Login</a>
                      {{/unless}}
                      {{#if currentUser}}
                        <a class="nav_link" href="/auth/logout">Logout</a>
                        <a class="nav_link" href="/auth/profile">Profile</a>
                      {{/if}}
                    </div>
                </nav>
            </div>
        </header>

        {{{body}}}

        <script src="/js/script.js"></script>
    </body>
</html>