<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{appTitle}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/customers-purchases-pages.css" />
        <link rel="stylesheet" href="/stylesheets/login-signup-forms.css" />
        <link rel="stylesheet" href="/stylesheets/bookAndMovie.css">
    </head>

    <body>
        <div class="container">
            <nav>
                <div class="nav-items">
                  <a class="text-link-hover" href="/"> <img src="/images/logo.png" alt="logo">Shopbox</a>
                  {{#unless currentUser}}
                    <a class="text-link-hover" href="#">Products</a>
                    <a class="text-link-hover" href="#">Business Types</a>
                    <a class="text-link-hover" href="#">Why Shopbox?</a>
                    <a class="text-link-hover" href="#">Pricing</a>
                    <a class="text-link-hover" href="#">Resources</a>
                  {{/unless}}
                  {{#if currentUser}}
                    <a class="text-link-hover" href="/customers">Customers</a>
                    <a class="text-link-hover" href="/books">Books</a>
                    <a class="text-link-hover" href="/movies">Movies</a>
                    <a class="text-link-hover" href="/purchases">Purchases</a>
                  {{/if}}
                  {{#unless currentUser}}
                    <a class="text-link-hover" href="/auth/signup">Sign up</a>
                    <a class="text-link-hover" href="/auth/login">Login</a>
                  {{/unless}}
                  {{#if currentUser}}
                    <a class="text-link-hover" href="/auth/logout">Logout</a>
                    <a class="text-link-hover" href="/auth/profile">Profile</a>
                  {{/if}}
                </div>
            </nav>
        </div>

        {{{body}}}

        <script src="/js/script.js"></script>
    </body>
</html>