/* LIST VIEW STYLES FOR CUSTOMER, BOOKS, MOVIES, & PURCHASES MAIN PAGES */

/* Customers & Purchases shared styles */
main {
    padding: 0 10px 0;
}

.content__titles__container-cust-purch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #4b4b4b;
    margin-top: 30px;
}

.content-title-cust-purch {
    font-size: 1.2em;
    font-weight: 900;
    width: 100%;
}

.flex__parent__container-list-display-cust-purch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #a4a4a4;
}

.content__wrapper-list-display-cust-purch {
    width: 100%;
}

.flex__parent__container-list-display-cust-purch p {
    font-size: 1em;
    width: 95%;
}

.content__wrapper-list-display .hidden-title,
.content__wrapper-list-display-cust-purch .hidden-title {
    display: none;
}


/* Books & Movies shared styles */
.page__content__container { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

.content-heading {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    align-items: baseline;
    gap: 5em;
}

.content__titles__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #4b4b4b;
    margin-top: 30px;
}

.content-title {
    font-size: 1.2em;
    font-weight: 900;
    width: 60%;
}

.content-title:nth-of-type(2),
.content-title:nth-of-type(3) {
    width: 20%;
}

.flex__parent__container-list-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #a4a4a4;
}

.flex__parent__container-list-display p {
    font-size: 1em;
    width: 95%;
}

.content__wrapper-list-display {
    width: 60%;
}

.content__wrapper-list-display:nth-of-type(2) {
    width: 20%;
}

.content__wrapper-list-display:nth-of-type(3) {
    width: 20%;
}

.details-link {
    color: #006AFF;
}

/* ========== All Button Styles ========== */

.detail-btns {
    margin-top: 15px
}

.add-item-btn, 
.edit-btn {
    border-radius: 4px;
    border: none;
    padding: 10px;
    width: 11rem;
    background-color: #292929;
    font-size: 1rem;
    color: white;
    margin: 15px 0 15px;
}

  .delete-btn {
    border: none;
    padding: 10px;
    width: 11rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 900;
    margin-top: 15px;
    color: #000
}

.fa-trash-can {
    color: #000;
    padding-right: 5px;
    font-size: 1.5rem;
}

.warning {
    font-size: .8rem;
}

.delete-btn:hover {
    padding: 10px;
    width: 11rem;
    background-color: #f000006c;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
}

  button a {
    color: white;
  }

  .profile__buttons__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

/* ======= CUSTOMER DETAIL VIEW STYLES ======== */

.back-link {
    color: #006AFF;
    font-size: 1.2em;
    font-weight: 400;
}

.p-detail-heading {
    font-size: 1.2em;
    line-height: 1.5em;
}

span {
    font-weight: 900;
    color: #5c5c5c;
}


  /* ========== CUSTOMER AND PURCHASE CREATE/UPDATE FORMS =========== */

.new-customer-container, .update-customer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    padding-bottom: 3rem;
}
  
.new-customer-container.update-customer-container h1{
    color: black;
}
  
.new-customer-formBox, .update-customer-formBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    padding: 2rem;
    width: 600px;
    background-color: white;
}
  
.nameInput {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin: 0 12px 0 0;
    width: 17rem;
    height: 3.5rem;
}
  
.emailInput {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin: 0 12px 0 0;
    width: 35rem;
    height: 3.5rem;
}

.addressInput {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin: 0 12px 0 0;
    width: 27rem;
    height: 3.5rem;
}

.apartNumInput {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin: 0 12px 0 0;
    width: 7rem;
    height: 3.5rem;
}

.cityInput {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin: 0 12px 0 0;
    width: 13rem;
    height: 3.5rem;
}

.stateInput {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin: 0 12px 0 0;
    width: 13rem;
    height: 3.5rem;
}

.zipInput {
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    margin: 0 12px 0 0;
    width: 7rem;
    height: 3.5rem;
}

/* ====== Button hovers */
/* .add-new-customer-btn:hover {background-color: #005AD9;}
.new-invoice-btn:hover {background-color: #005AD9;}
.save-invoice-btn:hover {background-color: #005AD9;} */

.edit-btn:hover,
.add-item-btn:hover {
    background-color: #292929d6;
}


/* .update-customer-btn, 
.add-item-btn, 
.save-invoice-btn, 
.edit-movie-btn, 
.edit-book-btn */




/* ====== Text link hovers */
.details-link:hover {
    color: #005AD9;
    text-decoration: underline;
}

.back-link:hover {
    color: #005AD9;
    text-decoration: underline;
}


